---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.courier-prime-regular {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
}

.courier-prime-bold {
  font-family: "Courier Prime", monospace;
  font-weight: 700;
  font-style: normal;
}

.courier-prime-regular-italic {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: italic;
}

.courier-prime-bold-italic {
  font-family: "Courier Prime", monospace;
  font-weight: 700;
  font-style: italic;
}

html,body {
    background: black url("../../red-rainbow-storytime-tempbg.jpg") no-repeat fixed;
    background-position: center;
    background-size: cover;
    scrollbar-color: rgb(255,255,255) rgba(0,0,0,0);
    scroll-behavior: smooth;
    overscroll-behavior: none
}

#storyentry {
    min-width: 30rem;
    max-width: 40vw;
    min-height: 100vh;
    margin: auto;
    background: rgba(0,0,0,0.93);
    border-left: 7px solid rgba(32,64,64,0.2);
    border-right: 7px solid rgba(32,64,64,0.2);
    color: rgb(255,247,250);
    font-family: "Courier Prime", monospace;
    font-size: 18px;
    line-height: 1.6;
    padding: 4rem 2rem;
    overflow-wrap: break-word
}

#tocsidebar {
    position: fixed;
    width: 15rem;
    min-height: 80vh;
    max-height: 80vh;
    margin-left: -350px;
    overflow-y: auto;
    direction: rtl;
    scrollbar-color: rgb(255,255,255,0.15) rgba(0,0,0,0.70);
    scrollbar-width: thin;
    scrollbar-gutter: stable both-edges;
    background: rgba(0,0,0,0.70);
    outline: thin dashed white
}

#toc {
    direction: ltr;
    padding: 2rem 0rem 0rem 1rem;
    color: white;
}

h2,h3,h4,h5 {
    color: rgba(255,247,250,1);
    margin-top: 1.5rem
}

h6 {
    color: lightslategray;
    margin-top: 1rem
}

hr {
    margin: 2rem;
    border-color: rgba(230,230,255,1)
}

p {
    margin: 1.5rem 0
}

blockquote {
    font-style: italic;
    border: thin solid rgba(230,230,255,1);
    padding: 1rem
}

blockquote p {
    margin: 0
}

::selection {
    background: darkred
}

code {
    color: rgba(56,0,0,1);
    background: white;
    font-size: 18px
}

div.highlighter-rouge code {
    display: block;
    overflow-x: auto;
    white-space: pre-wrap;
    padding: 1rem
}

abbr {
    text-shadow: -0.7px 0px red;
    transition: text-shadow 0.5s
}

abbr:hover {
    text-shadow: 1px 1px cyan
}

abbr::after {
    content: attr(data-title);
    z-index: 10000;
    position: fixed;
    margin-top: 25px;
    margin-left: -30px;
    max-width: 45vw;
    background: black;
    color: magenta;
    text-shadow: 10px 14px cyan, -10px -14px yellow, 10px -14px white, -10px 14px white;
    box-shadow: 5px -5px cyan, -5px 5px magenta;
    padding: 0.4rem;
    font-size: 12px;
    border: 1px dashed black;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0s, visibility 0s, color 0s,  border 0s, text-shadow 0s, box-shadow 0s
}

abbr:hover::after{
    opacity: 1;
    visibility: visible;
    color: white;
    border: 1px dashed white;
    text-shadow: 0 0;
    box-shadow: 0 0;
    transition: opacity 0.3s, visibility 0.3s, color 0.3s, border 1s, text-shadow 1s, box-shadow, 1s
}

img {
    display: block;
    margin: auto
}
