---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.courier-prime-regular {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
}

.courier-prime-bold {
  font-family: "Courier Prime", monospace;
  font-weight: 700;
  font-style: normal;
}

.courier-prime-regular-italic {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: italic;
}

.courier-prime-bold-italic {
  font-family: "Courier Prime", monospace;
  font-weight: 700;
  font-style: italic;
}


html,body {
    background-image: url('https://cdn.discordapp.com/attachments/651260735535448085/1470592041867022376/red-rainbow-storytime-tempbg.jpg?ex=698bdb11&is=698a8991&hm=5a4f00f4c0bc7dd5208ded1149eaccd031f22f873e90aa91ae476d071ef96de6&');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}

body {
    color: rgba(255,247,250,1);
    font-family: "Courier Prime", monospace;
    font-size: 18px;
    line-height: 1.6;
    margin: 0;
    min-height: 100%;
    overflow-wrap: break-word
}

h2,h3,h4,h5 {
    margin-top: 1.5rem
}

h6 {
    color: lightslategray;
    margin-top: 1rem
}

hr {
    margin: 2rem;
    border-color: rgba(230,230,255,1)
}

p {
    margin: 1.5rem 0
}

.w {
    min-width: 30rem;
    max-width: 40vw;
    min-height: 100vh;
    margin: 0 auto;
    padding: 4rem 2rem;
    background: rgba(0,0,0,0.93);
    border-left: 7px solid rgba(32,64,64,0.20);
    border-right: 7px solid rgba(32,64,64,0.20)
}

code {
    color: rgba(56,0,0,1);
    background: white;
    font-size: 18px
}

div.highlighter-rouge code {
    display: block;
    overflow-x: auto;
    white-space: pre-wrap;
    padding: 1rem
}

abbr {
    position: relative;
}
abbr:hover::after {
    content: attr(data-title);
    position: absolute;
    width: 300px;
    left: 100%;
    display: block;
    padding: 1em;
    background: blue;
    border-radius:20px;
    color:white;
}

blockquote {
    font-style: italic;
    border: thin solid darkgray;
    padding: 1rem
}

blockquote p {
    margin: 0
}

img {
    display: block;
    margin: auto
}
