---
---

@import "{{ site.theme }}";

html,body {
    background-image: url('https://cdn.discordapp.com/attachments/651260735535448085/1470592041867022376/red-rainbow-storytime-tempbg.jpg?ex=698bdb11&is=698a8991&hm=5a4f00f4c0bc7dd5208ded1149eaccd031f22f873e90aa91ae476d071ef96de6&');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}

body {
    color: white;
    font-family: monospace;
    font-size: 18px;
    line-height: 1.4;
    margin: 0;
    min-height: 100%;
    overflow-wrap: break-word
}

h2,h3,h4,h5 {
    margin-top: 1.5rem
}

h6 {
    color: lightslategray;
    margin-top: 1rem
}

hr {
    margin: 2rem
}

p {
    margin: 1rem 0
}

.w {
    min-width: 40rem;
    max-width: 40vw;
    min-height: 100vh;
    margin: 0 auto;
    padding: 4rem 2rem;
    background: rgba(0, 0, 0, 0.93);
    border-left: 5px solid rgba(32, 64, 64, 0.25);
    border-right: 5px solid rgba(32, 64, 64, 0.25)
}

code {
    color: black;
    background: white
}

div.highlighter-rouge code {
    display: block;
    overflow-x: auto;
    white-space: pre-wrap;
    padding: 1rem
}

blockquote {
    font-style: italic;
    border: thin solid darkgray;
    padding: 1rem
}

blockquote p {
    margin: 0
}

img {
    display: block;
    margin: auto
}
