---
---

@import "{{ site.theme }}";
@import url(https://db.onlinewebfonts.com/c/c94e49765ec47b72f1cec8a8c4ef14c5?family=Courier+Prime);
@import url(https://db.onlinewebfonts.com/c/9263dd1028ba2eef4981450e97433b11?family=VGA+New);

$viowhite: rgb(255,235,240);
$manawhite: rgb(225,225,255);

html,body {
    background: black url("../../wikibg.avif") no-repeat fixed;
    background-position: center;
    background-size: cover;
    overscroll-behavior: none;
}

#wiki {
    min-width: 600px;
    max-width: min(40vw, 1040px);
    height: 94vh; // 100 - margin vh*2
    margin: 3vh auto 0;
    overflow-y: auto;
    overflow-x: clip;
    scrollbar-gutter: stable both-edges;
    scrollbar-color: rgba(255,255,255,0.60) transparent;
    background: rgba(0,0,0,0.5);
    outline: thin solid #ffffff;
    border-radius: 15px;
    box-shadow: 
    -10px 0 150px 30px rgba(0,0,0,0.10), // Dimmer
    -10px 0 50px 30px rgba(0,0,0,0.20) inset, // Inside dimmer
    0.5px 0.5px 0px 0.5px rgba(0,255,255,0.50) inset, // Line Distortion
    -0.5px -0.5px 0px 0.5px rgba(255,0,255,0.35) inset; // Line Distortion, adjusted for red bias
    color: $viowhite;
    font-family: "Courier Prime", monospace;
    font-size: clamp(14px, #{"1vw - 0.15rem"}, 1.7vw); // For some reason Jekyll hated me for trying to subtract different units from eachother(a standard practice elsewhere!!). The math here is interpolated to be sassy
    line-height: 1.6;
    padding: 4em 2em;
    overflow-wrap: break-word
}

h1 {
    color: rgb(160,90,130);
    backdrop-filter: grayscale(1);
    letter-spacing: 3px;
    font-size: calc(clamp(14px, 1vw - 0.15rem, 1.7vw) * 2);
    white-space: nowrap
}

p {
    margin: 1rem 0;
    backdrop-filter: blur(1px);
}

hr {
    margin: 3rem 1rem;
    border-color: #e1e1ff
}

blockquote {
    font-style: italic;
    border: thin solid #e1e1ff;
    color: #e1e1ff;
    padding: 0 1rem;
    background: transparent;
    backdrop-filter: blur(4px) grayscale(1)
}

::selection {
    background: darkred
}

.passive {
    color: darkviolet;
}

.offensive {
    color: tomato
}

.debuff {
    color: gold
}

.section {
    color: green
}

.cyanrule {
    color: cyan
}

.redrule {
    color: red
}

.thinrule {
    color: olive
}
/*Table of Contents*/


.toc {
    position: absolute;
    width: 324px;
    height: 100vh;
    margin-top: -3vh;
    margin-left: calc(max(30vw, 450px) - 450px); //This "left" is all in reverse, because the direction here is set to rtl so the scrollbar is on the left. The function here helps compatibility all the way to 720p monitors.
    overflow-y: auto;
    overflow-x: clip;
    direction: rtl;
    scrollbar-color: white transparent;
    scrollbar-width: thin;
    background: rgba(0,0,0,0.15);
    backdrop-filter: grayscale(1) blur(1.5px);
    outline: thin solid #fff
}

.toc ul {
    display: flex;
    flex-direction: column;
    direction: ltr //The direction is set back so all our text is normal!
}

/*Buttons do not work without javascript. Here, we can make a link into a indistinguishable button by using the line height to take up the entire "padding" we want.
Then, we use empty entities to fill the rest of the "button's" length. Anywhere you click on the "button" works now, without any javascript*/

.toc li {
    margin: 30px 0px 0px 0px;
    padding-left: 1rem;
    background: rgba(255,255,255,0.1);
    font-family: "VGA New", serif;
    font-size: 20px;
    letter-spacing: 3px;
    line-height: 2.5;
    white-space: nowrap;
    transition: background 0.2s,line-height 0.2s
}

.toc li:hover {
    background: rgba(255,255,255,0.8);
    line-height: 3; 
    box-shadow: 0px 2px rgba(0,255,255,0.5),0px -2px rgba(255,0,0,0.5);
    transition: background 0.2s,box-shadow 0.2s
}

.toc li:hover:active {
    background: black;
    box-shadow: 12px 6px rgba(255,0,0,0.9),-12px -6px rgba(0,255,255,0.9)
}

.toc ::selection {
    background: transparent //To further make them feel like true buttons, we can "disable" highlighting them
}

a {
    display:inline-block;
    color: rgb(160,90,130)
}

a:hover {
    text-decoration: none
}


/* My tooltips */


abbr {
    text-shadow: -0.8px 0px red;
    transition: text-shadow 0.5s
}

abbr:hover {
    text-shadow: 1px 1px cyan
}

abbr::after {
    content: attr(data-title);
    z-index: 10000;
    position: absolute;
    margin-top: 25px;
    margin-left: -30px;
    max-width: 45vw;
    background: black;
    color: magenta;
    text-shadow: 10px 14px cyan, -10px -14px yellow, 10px -14px white, -10px 14px white;
    box-shadow: 5px -5px cyan, -5px 5px magenta;
    padding: 0.4rem;
    font-family: monospace;
    font-size: 12px;
    border: 1px dashed black;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0s, visibility 0s, color 0s,  border 0s, text-shadow 0s, box-shadow 0s
}

abbr:hover::after{
    opacity: 1;
    visibility: visible;
    color: $manawhite;
    border: 1px dashed white;
    text-shadow: 0 0;
    box-shadow: 0 0;
    transition: opacity 0.3s, visibility 0.3s, color 0.3s, border 1s, text-shadow 1s, box-shadow, 1s
}


