---
---

@import "{{ site.theme }}";
@import url(https://db.onlinewebfonts.com/c/c94e49765ec47b72f1cec8a8c4ef14c5?family=Courier+Prime);
@import url(https://db.onlinewebfonts.com/c/9263dd1028ba2eef4981450e97433b11?family=VGA+New);

$viowhite: rgb(255,235,240);
$manawhite: rgb(225,225,255);

html,body {
    background: #000 url("../../red-rainbow-storytime-tempbg.jpg") no-repeat fixed;
    background-position: center;
    background-size: cover;
    overscroll-behavior: none;
}

#wiki {
    min-width: 600px;
    max-width: min(40vw, 1040px);
    height: 94vh;
    margin: 3vh auto 0;
    overflow-y: auto;
    scrollbar-gutter: stable both-edges;
    scrollbar-color: rgba(255,255,255,0.60) transparent;
    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(2px);
    outline: thin solid #ffffff;
    border-radius: 15px;
    box-shadow: 
    -10px 0 150px 30px rgba(0,0,0,0.10),
    -10px 0 50px 30px rgba(0,0,0,0.20) inset,
    0.5px 0.5px 0px 0.5px rgba(0,255,255,0.50) inset, 
    -0.5px -0.5px 0px 0.5px rgba(255,0,255,0.35) inset;
    color: $viowhite;
    font-family: "Courier Prime", monospace;
    font-size: clamp(14px, #{"1vw - 0.15rem"}, 1.7vw);
    line-height: 1.6;
    padding: 4em 2em;
    overflow-wrap: break-word
}

.toc {
    position: absolute;
    width: 324px;
    height: 100vh;
    margin-top: -3vh;
    margin-left: calc(max(30vw, 450px) - 450px);
    overflow-y: auto;
    overflow-x: clip;
    direction: rtl;
    scrollbar-color: white transparent;
    scrollbar-width: thin;
    background: rgba(0,0,0,0.15);
    backdrop-filter: grayscale(1) blur(1.5px);
    outline: thin solid #fff
}

.toc ul {
    display: flex;
    flex-direction: column;
    direction: ltr
}

.toc li {
    margin: 30px 0px 0px 0px;
    padding-left: 1rem;
    background: rgba(255,255,255,0.1);
    font-family: "VGA New", serif;
    font-size: 20px;
    letter-spacing: 3px;
    line-height: 2.5;
    white-space: nowrap;
    transition: background 0.2s,line-height 0.2s
}

.toc li:hover {
    background: rgba(255,255,255,0.8);
    line-height: 3;
    box-shadow: 0px 2px rgba(0,255,255,0.5),0px -2px rgba(255,0,0,0.5);
    transition: background 0.2s,box-shadow 0.2s
}

.toc li:hover:active {
    background: black;
    box-shadow: 12px 6px rgba(255,0,0,0.9),-12px -6px rgba(0,255,255,0.9)
}

.toc ::selection {
    background: transparent
}

a {
    display:inline-block;
    color: rgb(160,90,130)
}

a:hover {
    text-decoration: none
}

h2,h3,h4,h5,h6 {
    color: $viowhite;
    margin-top: 1.5rem
}

hr {
    margin: 2rem;
    border-color: var(--manawhite)
}

p {
    margin: 1.5rem 0
}

blockquote {
    font-style: italic;
    border: thin solid var(--manawhite);
    color: var(--manawhite);
    padding: 1rem
}

blockquote p {
    margin: 0
}

::selection {
    background: darkred
}

code {
    color: rgb(64,0,0);
    background: $viowhite;
    font-size: 18px
}

div.highlighter-rouge code {
    display: block;
    overflow-x: auto;
    white-space: pre-wrap;
    padding: 1rem
}

abbr {
    text-shadow: -0.8px 0px red;
    transition: text-shadow 0.5s
}

abbr:hover {
    text-shadow: 1px 1px cyan
}

abbr::after {
    content: attr(data-title);
    z-index: 10000;
    position: absolute;
    margin-top: 25px;
    margin-left: -30px;
    max-width: 45vw;
    background: black;
    color: magenta;
    text-shadow: 10px 14px cyan, -10px -14px yellow, 10px -14px white, -10px 14px white;
    box-shadow: 5px -5px cyan, -5px 5px magenta;
    padding: 0.4rem;
    font-family: monospace;
    font-size: 12px;
    border: 1px dashed black;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0s, visibility 0s, color 0s,  border 0s, text-shadow 0s, box-shadow 0s
}

abbr:hover::after{
    opacity: 1;
    visibility: visible;
    color: var(--manawhite);
    border: 1px dashed white;
    text-shadow: 0 0;
    box-shadow: 0 0;
    transition: opacity 0.3s, visibility 0.3s, color 0.3s, border 1s, text-shadow 1s, box-shadow, 1s
}

img {
    display: block;
    margin: auto
}
