<!DOCTYPE html>
<html lang="en-US">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/storytime.css' | relative_url }}">
    <title>Red Rainbow</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.png">  

</head>
  
<body>

    
    <div id="storyentry">
        <div id="tocsidebar">
            <p id="toc">{{ sidebar }}</p>
            <p id="toc">Hey! this was a success. Next is testing if automatic toc markdown works or if I will need to set up wawa script for this. This wawa is wanting to be correctly positioned as a floating sidebar that will be used as a table of contents for the wiki layout. They will also automatically gain a scrollbar if the table of contents is longer than the space allows. This wawa is minmaxing their words to help Mist make sure the text wraps and is styled correctly. This wawa, kinda said with the intonation of "this one", heh. This wawa will be gone forever once this element is complete... This is so sad..... Okay I am going to transcribe a discord conversation I am in cause I need to fill this out to display scroll functionality. Which I think is a net good, personally. very, very depressing, but very true statement. it would be interesting because that means future campaigns</p></div>
        
        {{ content }}
    
    </div>

    <script>

    document.addEventListener("DOMContentLoaded", function(){
        function replaceTitleAttributes(){
        var elements = document.querySelectorAll('abbr[title]'),
            i;
        for(i = 0; i < elements.length; i += 1){
            elements[i].setAttribute('data-title', elements[i].title);
            elements[i].removeAttribute('title');
        }
        }
    replaceTitleAttributes();
    });
    
    </script>
  
</body>
  
</html>
