<!DOCTYPE html>
<html lang="en-US">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/wiki.css' | relative_url }}">
    <title>Red Rainbow</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.png">  

</head>
  
<body>

    <nav class="toc" role="navigation">
        {% include toc.html html=content flat_toc = true %}      
    </nav>

    <main id="wiki" role="main">
        {{ content | replace: 'abbr title=', 'abbr data-title=' | replace: '$$pa', '<span style="color: darkviolent">' | replace: ']$', '</span>'  }}
    </main>

</body>
</html>
